/*
 * Front end styles if any
 */

body {
	position: relative;
}

p {
	margin: 0 0 24px;
}

.pbs-main-wrapper input:not([type='submit']):not([type='button']):not([type='reset']) {
	outline: none !important;
}

.media-modal .says,
.media-modal .screen-reader-text,
.pbs-modal-frame .says,
.pbs-modal-frame .screen-reader-text,
#wp-link-wrap .says,
#wp-link-wrap .screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px; /* many screen reader and browser combinations announce broken words as they would appear visually */
	word-wrap: normal !important;
}

.pbs-col hr {
	width: 100%;
}

.pbs-row {
	box-sizing: border-box;
	clear: both;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	margin: 0 0 24px;
	padding: 0;
	border-style: none;
	border-width: 0;
	border-color: #000;
}

.pbs-row .pbs-col {
	padding: 15px;
	border-style: none;
	border-width: 0;
	border-color: #000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.pbs-row:after {
	content: '';
	display: block;
	clear: both;
}

.pbs-row .pbs-col {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
}

.pbs-row .pbs-col:after {
	content: '';
	display: block;
	clear: both;
}

.pbs-col > .pbs-row:first-child {
	margin-top: -15px;
}

.pbs-col > .pbs-row {
	margin-left: -15px;
	margin-right: -15px;
}

.pbs-col > .pbs-row:last-child {
	margin-bottom: -15px;
}

.pbs-col > *:first-child {
	margin-top: 0;
}

.pbs-col > *:last-child {
	margin-bottom: 0;
}

.pbs-col > a:last-child > img {
	margin-bottom: 0;
}

.pbs-row + .pbs-row {
	margin-top: -24px;
}

.pbs-row,
.pbs-col {
	background-size: cover;
	background-position: center;
}

.pbs-col img {
	-o-object-fit: contain;
	object-fit: contain;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	min-height: 0;
	height: auto !important;
}

.pbs-col {
	min-width: 0;
	word-wrap: break-word;
	max-width: 100%;
}

.pbs-col > :not(.pbs-row) {
	max-width: 100%;
}

.pbs-col .alignleft {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}

.pbs-col .alignright {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.pbs-col .aligncenter {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.pbs-col .alignleft,
.pbs-col .alignright {
	margin-left: 0;
	margin-right: 0;
}

/* Make sure embedded iframes are centered */

body iframe {
	margin: 0 auto;
	display: block;
}

[data-ce-tag="icon"] {
	display: block;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	float: none !important;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

[data-ce-tag="icon"] svg {
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
}

[data-ce-tag="icon"].alignright {
	margin-left: auto;
	margin-right: 0;
	display: block;
}

[data-ce-tag="icon"].alignleft {
	margin-left: 0;
	margin-right: auto;
	display: block;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]) {
	position: relative;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]):after {
	content: attr(data-tooltip);
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: calc(100% + 20px);
	padding: 10px;
	width: 170px;
	background: #222222;
	color: #ffffff;
	font-size: 13px;
	line-height: 1.6em;
	z-index: 999;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]):before {
	left: 100% !important;
	top: 50% !important;
	bottom: auto !important;
	right: auto !important;
	border: solid transparent;
	content: " " !important;
	height: 0;
	width: 0;
	display: block !important;
	position: absolute;
	border-right-color: #222222;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	border-width: 10px;
	margin-top: -10px;
	background: transparent !important;
	z-index: 1000;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]):after,
[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]):before {
	pointer-events: none;
	-webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
	opacity: 0;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]):after {
	-webkit-transform: translateY(-50%) scale(0.7);
	transform: translateY(-50%) scale(0.7);
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).ce-element--over:before,
[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).ce-element--over:after,
[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]):hover:before,
[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]):hover:after {
	opacity: 1 !important;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).ce-element--over:after,
[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]):hover:after {
	-webkit-transform: translateY(-50%) scale(1);
	transform: translateY(-50%) scale(1);
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-left:after {
	top: 50%;
	left: auto;
	right: calc(100% + 20px);
	-webkit-transform: translateY(-50%) scale(0.7);
	transform: translateY(-50%) scale(0.7);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-left.ce-element--over:after,
[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-left:hover:after {
	-webkit-transform: translateY(-50%) scale(1);
	transform: translateY(-50%) scale(1);
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-left:before {
	left: auto !important;
	right: 100% !important;
	top: 50% !important;
	bottom: auto !important;
	border-left-color: #222222;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-top:after {
	top: auto;
	bottom: calc(100% + 20px);
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%) scale(0.7);
	transform: translateX(-50%) scale(0.7);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-top.ce-element--over:after,
[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-top:hover:after {
	-webkit-transform: translateX(-50%) scale(1);
	transform: translateX(-50%) scale(1);
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-top:before {
	left: 50% !important;
	right: auto !important;
	top: auto !important;
	bottom: 100% !important;
	border-top-color: #222222;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	margin-top: 0;
	margin-left: -10px;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-bottom:after {
	bottom: auto;
	top: calc(100% + 20px);
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%) scale(0.7);
	transform: translateX(-50%) scale(0.7);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-bottom.ce-element--over:after,
[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-bottom:hover:after {
	-webkit-transform: translateX(-50%) scale(1);
	transform: translateX(-50%) scale(1);
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-icon-tooltip-bottom:before {
	left: 50% !important;
	right: auto !important;
	bottom: auto !important;
	top: 100% !important;
	border-bottom-color: #222222;
	border-top-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
	margin-top: 0;
	margin-left: -10px;
}

[data-ce-tag="icon"][data-tooltip]:not([data-tooltip=""]).pbs-has-tooltip-shadow:after {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

[data-ce-tag="map"] {
	min-height: 250px;
	min-width: 100px;
	margin-bottom: 24px;
}

.pbs-col > [data-ce-tag="map"]:only-child {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.pbs-editing .ce-element--dragging[data-ce-tag="map"] * {
	pointer-events: none !important;
}

[data-ce-tag="tabs"] {
	margin-bottom: 24px;
}

[data-ce-tag="tabs"] > p {
	display: none;
}

[data-ce-tag="tabs"] .pbs-tab-state {
	position: absolute;
	left: -10000px;
}

[data-ce-tag="tabs"] .pbs-tab-tabs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

[data-ce-tag="tabs"] .pbs-tab-tabs > * {
	display: inline-block;
	padding: 15px;
	vertical-align: top;
	cursor: hand;
	cursor: pointer;
	margin-bottom: -1px;
	-webkit-transition: opacity .3s, background .3s;
	transition: opacity .3s, background .3s;
}

[data-ce-tag="tabs"] [data-panel] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0 !important;
	overflow: hidden;
	opacity: 0;
	height: 0;
	-webkit-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
}

[data-ce-tag="tabs"] [data-tab="1"][aria-selected] ~ .pbs-tab-panels [data-panel="1"],
[data-ce-tag="tabs"] [data-tab="1"]:checked ~ .pbs-tab-panels [data-panel="1"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="2"][aria-selected] ~ .pbs-tab-panels [data-panel="2"],
[data-ce-tag="tabs"] [data-tab="2"]:checked ~ .pbs-tab-panels [data-panel="2"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="3"][aria-selected] ~ .pbs-tab-panels [data-panel="3"],
[data-ce-tag="tabs"] [data-tab="3"]:checked ~ .pbs-tab-panels [data-panel="3"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="4"][aria-selected] ~ .pbs-tab-panels [data-panel="4"],
[data-ce-tag="tabs"] [data-tab="4"]:checked ~ .pbs-tab-panels [data-panel="4"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="5"][aria-selected] ~ .pbs-tab-panels [data-panel="5"],
[data-ce-tag="tabs"] [data-tab="5"]:checked ~ .pbs-tab-panels [data-panel="5"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="6"][aria-selected] ~ .pbs-tab-panels [data-panel="6"],
[data-ce-tag="tabs"] [data-tab="6"]:checked ~ .pbs-tab-panels [data-panel="6"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="7"][aria-selected] ~ .pbs-tab-panels [data-panel="7"],
[data-ce-tag="tabs"] [data-tab="7"]:checked ~ .pbs-tab-panels [data-panel="7"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="8"][aria-selected] ~ .pbs-tab-panels [data-panel="8"],
[data-ce-tag="tabs"] [data-tab="8"]:checked ~ .pbs-tab-panels [data-panel="8"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="9"][aria-selected] ~ .pbs-tab-panels [data-panel="9"],
[data-ce-tag="tabs"] [data-tab="9"]:checked ~ .pbs-tab-panels [data-panel="9"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="10"][aria-selected] ~ .pbs-tab-panels [data-panel="10"],
[data-ce-tag="tabs"] [data-tab="10"]:checked ~ .pbs-tab-panels [data-panel="10"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="11"][aria-selected] ~ .pbs-tab-panels [data-panel="11"],
[data-ce-tag="tabs"] [data-tab="11"]:checked ~ .pbs-tab-panels [data-panel="11"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="12"][aria-selected] ~ .pbs-tab-panels [data-panel="12"],
[data-ce-tag="tabs"] [data-tab="12"]:checked ~ .pbs-tab-panels [data-panel="12"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="13"][aria-selected] ~ .pbs-tab-panels [data-panel="13"],
[data-ce-tag="tabs"] [data-tab="13"]:checked ~ .pbs-tab-panels [data-panel="13"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="14"][aria-selected] ~ .pbs-tab-panels [data-panel="14"],
[data-ce-tag="tabs"] [data-tab="14"]:checked ~ .pbs-tab-panels [data-panel="14"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="15"][aria-selected] ~ .pbs-tab-panels [data-panel="15"],
[data-ce-tag="tabs"] [data-tab="15"]:checked ~ .pbs-tab-panels [data-panel="15"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="16"][aria-selected] ~ .pbs-tab-panels [data-panel="16"],
[data-ce-tag="tabs"] [data-tab="16"]:checked ~ .pbs-tab-panels [data-panel="16"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="17"][aria-selected] ~ .pbs-tab-panels [data-panel="17"],
[data-ce-tag="tabs"] [data-tab="17"]:checked ~ .pbs-tab-panels [data-panel="17"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="18"][aria-selected] ~ .pbs-tab-panels [data-panel="18"],
[data-ce-tag="tabs"] [data-tab="18"]:checked ~ .pbs-tab-panels [data-panel="18"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="19"][aria-selected] ~ .pbs-tab-panels [data-panel="19"],
[data-ce-tag="tabs"] [data-tab="19"]:checked ~ .pbs-tab-panels [data-panel="19"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] [data-tab="20"][aria-selected] ~ .pbs-tab-panels [data-panel="20"],
[data-ce-tag="tabs"] [data-tab="20"]:checked ~ .pbs-tab-panels [data-panel="20"] {
	opacity: 1;
	height: auto;
}

[data-ce-tag="tabs"] .pbs-tab-tabs {
	position: relative;
	border-bottom: 1px solid rgba(40, 44, 42, 0.1);
}

[data-ce-tag="tabs"] .pbs-tab-tabs > * {
	border-right: 1px solid rgba(40, 44, 42, 0.1);
	border-top: 1px solid rgba(40, 44, 42, 0.1);
}

[data-ce-tag="tabs"] .pbs-tab-tabs > *:first-child {
	border-left: 1px solid rgba(40, 44, 42, 0.1);
}

[data-ce-tag="tabs"] .pbs-tab-tabs > *:not(.pbs-tab-active) {
	background: rgba(40, 44, 42, 0.05) !important;
}

[data-ce-tag="tabs"] .pbs-tab-tabs > *:not(.pbs-tab-active):hover {
	background: rgba(40, 44, 42, 0.02) !important;
}

[data-ce-tag="tabs"] .pbs-tab-tabs .pbs-tab-active {
	background: #fff;
	border-bottom: 0;
	color: inherit !important;
}

@media (max-width: 900px) {

.pbs-row {
	background-attachment: scroll !important;
}

.pbs-row {
	display: block;
}

.pbs-row .pbs-col {
	margin-bottom: 24px;
}

.pbs-row .pbs-col:last-child {
	margin-bottom: 0;
}

.pbs-row {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.pbs-col {
	margin-left: 0px !important;
	margin-right: 0px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.pbs-main-wrapper > .pbs-row > .pbs-col {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

}

@media only screen and (max-width: 640px), screen and (max-height: 400px) {

[data-ce-tag="map"] {
	min-height: 400px;
}

}

